@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

#home {
  padding-top: 30px;
}

.home {
  display: grid;
  grid-template-columns: 1.08fr 1fr;
  margin-bottom: 16px;
}

.home__left {
  position: relative;
  text-align: end;
  overflow: hidden;
}
.home__left img {
  right: 0;
  height: 633.5px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}
.home__left img:nth-child(2),
.home__left img:nth-child(3),
.home__left img:last-child {
  position: absolute;
  top: 4.2%;
  right: 7.1%;
  width: 250px;
  height: 538.84px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.home__left img:nth-child(2) {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}
.home__left img:nth-child(3) {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}
.home__left img:nth-child(4) {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

.top {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 3.5s;
          animation-duration: 3.5s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.home__right {
  max-width: 350px;
}

.form {
  position: relative;
  margin-top: 16px;
  max-width: 350px;
  padding: 33px 40px 20px 40px;
  margin-bottom: 14px;
  border: 1px solid rgb(219, 219, 219);
  background-color: rgb(255, 255, 255);
}

.logo {
  text-align: center;
  margin-bottom: 30px;
}
.logo img {
  width: 174px;
  -o-object-fit: cover;
     object-fit: cover;
}

.form_inputs {
  position: relative;
  padding-bottom: 27px;
  border-bottom: 1px solid rgb(219, 219, 219);
}
.form_inputs input {
  width: 100%;
  padding: 10px 6px;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 2px;
  outline: none;
  background-color: rgb(250, 250, 250);
  margin-bottom: 6px;
}
.form_inputs input::-moz-placeholder {
  font-size: 12px;
}
.form_inputs input:-ms-input-placeholder {
  font-size: 12px;
}
.form_inputs input::placeholder {
  font-size: 12px;
}
.form_inputs button {
  margin-top: 12px;
  font-weight: 500;
  padding: 7px 16px;
  font-size: 14px;
  width: 100%;
  color: #FFFFFF;
  opacity: 0.7;
  background-color: rgb(0, 149, 246);
  border: none;
  outline: none;
  border-radius: 8px;
}

.other_info {
  position: absolute;
  display: inline-block;
  color: rgb(115, 115, 115);
  font-size: 18px;
  text-transform: lowercase;
  background-color: #FFFFFF;
  padding: 2px 16px;
  left: calc(50% - 33px);
  bottom: -12px;
  opacity: 0.9;
  font-weight: 400;
  font-family: "Roboto";
}

.facebook_log {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.facebook_log img {
  width: 18px;
  height: 18px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}
.facebook_log a {
  font-size: 14px;
  letter-spacing: 1.02px;
  font-family: "Roboto";
  font-weight: 500;
  color: #385185;
  text-decoration: none;
}

.forgot_password {
  margin-top: 12px;
  text-align: center;
}
.forgot_password a {
  font-size: 12px;
  line-height: 16px;
  font-family: "Roboto";
  color: rgb(0, 55, 107);
  text-decoration: none;
}

.register {
  padding: 24px 10px;
  display: flex;
  justify-content: center;
  -moz-column-gap: 6px;
       column-gap: 6px;
  margin-bottom: 24px;
  border: 1px solid rgb(219, 219, 219);
  background-color: rgb(255, 255, 255);
}
.register p, .register a {
  font-family: "Roboto";
  font-size: 13px;
  font-weight: 400;
}
.register a {
  color: rgb(0, 149, 246);
}

.apps {
  text-align: center;
}
.apps p {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 12px;
}
.apps_icons {
  display: flex;
  justify-content: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.apps_icons a img {
  width: 100%;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  padding: 0 80px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  -moz-column-gap: 12px;
       column-gap: 12px;
  row-gap: 8px;
  margin-bottom: 12px;
}
.footer a {
  font-family: "Roboto";
  font-size: 12.5px;
  line-height: 16px;
  color: rgb(115, 115, 115);
}

.footer_bottom {
  display: flex;
  justify-content: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.footer_bottom p {
  font-family: "Roboto";
  font-size: 12.5px;
  line-height: 16px;
  color: rgb(115, 115, 115);
}

@media (max-width: 1200px) {
  .home__left {
    display: none;
  }
  .home {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 800px) {
  .form_inputs input {
    font-weight: 400;
    padding: 12px 6px;
    font-size: 16px;
  }
}
.apps {
  text-align: center;
}
.apps_icons a img {
  width: 130px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 400px) {
  .form {
    border: none;
  }
  .register {
    border: none;
  }
  .form {
    padding-left: 40px;
    padding-right: 40px;
  }
  .form_inputs input {
    font-weight: 400;
    padding: 12px 6px;
    font-size: 16px;
  }
  .home__right {
    margin-bottom: 32px;
  }
  .footer {
    padding: 0 30px;
    text-align: center;
    margin-bottom: 32px;
  }
  .footer a {
    font-size: 12px;
  }
  #home {
    padding-bottom: 30px;
  }
}